.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: clamp(100px, 10dvh, 600px) 5dvw;
    padding: 1rem;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    user-select: none;
}

.login-container,
.login-section {
    border-radius: 20px;
}

.login-section {
    display: flex;
    gap: 2dvh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(5, 6, 45); 
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.login-section h1 {
    font-size: clamp(2rem, 4dvw, 10rem);
}

.login-section p {
    font-size: clamp(0.8rem, 1dvw, 5rem);
}

.login-container input {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

#login-form {
    display: block;
    width: 80%;
}

#login-form input {
    background: none;
    border: 1px solid #353535;
    outline: none;
    padding: clamp(10px, 1dvw, 150px);
    font-size: clamp(0.6rem, 1dvw, 4rem);
    border-radius: clamp(50px, 2dvw, 250px);
    color: #979797;
    box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
    rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-bottom: 5dvh;
    transition: 300ms;
}

#login-form input:focus {
    color: white;
}

#login-form input::placeholder,
#login-form button {
    font-size: clamp(0.6rem, 1dvw, 4rem);
}

#login-form button,
#login-form input {
    padding: clamp(10px, 1dvw, 150px);
}

#login-form button {
    background: linear-gradient(
        320deg,
        rgba(0, 140, 255, 0.678),
        rgba(128, 0, 128, 0.308)
    );
    width: 100%;
    border-radius: clamp(10px, 0.8dvw, 250px);;
}