@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: #ffffff;
  --text: #000000;
  --accent: #0ff;
  --nav: #9a37c6;
  --footer: #451459;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: "Exo";
}

body {
  width: 100%;
  height: 100%;
  --color: rgba(167, 41, 121, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* mínimo igual a la altura del viewport */
}

main {
  flex: 1; /* toma el espacio restante entre header y footer */
}

/* BUTTONS */
button {
  /* buttons basic style*/
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.nav-bar, .footer {
  user-select: none;
}

/* HEADER */
.nav-bar {
  width: 100dvw;
  padding: 1rem 1.5rem;

  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0; 
  left: 0;
  z-index: 1000; 

  background-color: var(--nav);
  border-bottom: 1px solid #333;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 2rem;
  font-weight: 800;
  color: var(--text);
  text-shadow: 1px 1px 0 #5e17eb, 2px 2px 0 #451459, 3px 3px 0 var(--accent);
}

.logo-icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  transform: translateY(-3px);
  filter: drop-shadow(1px 1px 0 #5e17eb) drop-shadow(2px 2px 0 #451459)
    drop-shadow(3px 3px 0 var(--accent));
}

.search-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  display: flex;
  line-height: 32px;
  align-items: center;
  max-width: 500px;
}

.search-input {
  width: 100%;
  height: 45px;
  padding-left: 1rem;
  padding-right: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.search-input::placeholder {
  color: #bdbecb;
}

.search-input:hover {
  box-shadow: 0 0 0 2.5px #15a1c4, 0px 0px 25px -15px #000;
}

.search-input:focus {
  box-shadow: 0 0 0 2.5px #15a1c4, 0px 0px 25px -15px #000;
}

.search-icon {
  position: absolute;
  right: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--accent);
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--footer);
  border-top: 1px solid #333;
  font-size: 14px;
}

.footer p {
  color: white;
}

.footer-links,
.github-links {
  margin-top: 0.5rem;
}

.footer-links a,
.github-links a {
  margin: 0 0.75rem;
  color: var(--bg);
  text-decoration: none;
  transition: 250ms;
}

.footer-links a:hover,
.github-links a:hover {
  color: var(--accent);
}

.github-icon {
  height: 1.5rem;
}

.github-links {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.github-links a {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.github-links a img {
  transition: 300ms;
}

.github-links a:hover img {
  filter: drop-shadow(0 0 1px var(--accent)) drop-shadow(0 0 1px var(--accent));
}