<aside class="sidebar">
    <h2>Admin</h2>
    <div class="hamburger-menu" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <nav>
        <ul id="nav-buttons" class="nav-buttons">
            <li><a class="active" href="">Dashboard</a></li>
            <li><a href="/dashboard/sales?username=<%= username %>">Orders</a></li>
            <li><a href="">Products</a></li>
            <li><a href="/login"><p>Logout</p><span class="material-symbols-outlined">logout</span></a></li>
        </ul>
    </nav>
</aside>