.ticket-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 3dvh auto;
    background-color: aliceblue;
    max-width: 1200px;
    padding: 1rem 2rem;
}

.ticket-header {
    display: flex;
    gap: 10%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.ticket-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

#client-name {
    text-decoration: underline;
}

.product-list {
    display: flex;
    gap: 2dvh;
    flex-direction: column;
    width: 100%;
    list-style: none;
    text-decoration: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 1dvw;
}

.product-item {
    display: flex;
    justify-content: space-between;
}

.product-item #title {
    width: 60%;
    text-align: left;
}

.product-item #price {
    width: 40%;
    text-align: right;
    font-weight: 600;
}

#exit-btn,
#ticket-btn {
    padding: 5px 15px;
    font-size: 1rem;
}

#ticket-btn {
    background-color: rgb(247, 54, 54);
    outline: 0;
}

#ticket-btn:hover {
    opacity: 0.8;
}