:root {
  --main-shadow: #9a37c6;
  --categories-hover : #802ea3;
  --main-text: #fff;
  --containers-bg: #1a1a2e;

  --card-bg-1 :  #af40ff;
  --card-bg-2 : #5b42f3;
  --card-bg-3 : #00ddeb;

  --accent-secondary: #ff2a6d;
}

h1 {
  color: var(--main-text);
  text-shadow: 0 0 5px rgba(229, 229, 255, 0.3);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PRODUCTS GRID */
.products-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.products-section .title-wrapper {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: start;
  justify-content: start;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, var(--card-bg-1), var(--card-bg-2), var(--card-bg-3)) 1;
}

.title-wrapper h2 {
  color: var(--main-text);
  font-size: 2rem;
}

.product-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 40px;
  margin-top: 25px;
}

.empty-products {
  padding: 2rem;
  border-radius: 8px;
  
  text-shadow: 0 0 5px rgba(0, 229, 255, 0.4);
  text-align: center;
  color: #e5e5ff;
  border: 1px solid rgba(255, 42, 109, 0.2);
  box-shadow: 0 5px 15px rgba(255, 42, 109, 0.2), 0 0 25px rgba(181, 55, 242, 0.15);
  background-color: #1a1a2e;
  background-image: linear-gradient(135deg, #1a1a2e 0%, #251f47 100%);
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 350px;

  background-image: linear-gradient(144deg, var(--card-bg-1), var(--card-bg-2) 50%, var(--card-bg-3));
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  border-radius: 20px;

  padding: 5px;
}

.card .card-content {
  width: 100%;
  height: 77%;
  position: relative;
  background: var(--containers-bg);
  border-radius: 17px;

  display: flex;
}

.light-mode .container .title-wrapper h2 {
  color: #111;
}

.card-content .card-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}

.card-text p {
  text-align: center;
}

.card-text .title {
  font-size: 1.1rem;
  text-align: left;
  text-justify: inter-word;
}

.card-text .title::after {
  display: block;
  content: "";
  width: 50%;
  height: 2px;
  background-image: linear-gradient(144deg, var(--card-bg-1), var(--card-bg-2) 50%, var(--card-bg-3));
  margin: 5px auto;
}

.card-text .description {
  font-size: 0.8rem;
  opacity: 0.6;
  text-align: left;
  text-justify: inter-word;
  line-height: 1.4;
  padding: 2px;
}

.card-content .card-image {
  transform: translate(-30px, -5%);
  width: 225px;
  height: 201px;

  box-shadow: rgba(154, 55, 198, 0.4) 5px 5px, rgba(154, 55, 198, 0.3) 10px 10px,
    rgba(154, 55, 198, 0.2) 15px 15px, rgba(154, 55, 198, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 6px;
  user-select: none;
  border: 2px solid rgba(154, 55, 198, 0.8);
}

.card-content .card-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.card-content .price-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--containers-bg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  border-radius: 17px;
  padding: 5px;
}

.card-content .price {
  font-size: 1.4rem;
  color: var(--accent-secondary);
  text-shadow: 0 0 5px rgba(255, 42, 109, 0.4);
  margin-left: 5px;
}

.card-content .price::before {
  content: "$";
  font-weight: 500;
  margin-right: 2px;
  color: #00e5ff;
  text-shadow: 0 0 5px rgba(0, 229, 255, 0.5);
} 


.card-buy {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.card-buy button {
  font-family: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);

  background: linear-gradient(
    320deg,
    rgba(0, 77, 139, 0.767),
    rgba(83, 0, 83, 0.541)
  );
    
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-buy-button:hover {
  background-color: #451459;
  transform: scale(1.05);
}
  

.card-added {
  background-image: linear-gradient(144deg, #ffc340, #f3428c 50%, #db3551);
}

.quantityWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
}

.page-item, .page-dots {
  padding: 0.5rem 0.85rem;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #1e1e2f;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.1rem;
  min-width: 36px;
  text-align: center;
  user-select: none;
  transition: all 0.3s ease;
}

.page-item:hover:not(.active) {
  background-color: #292b3d;
  color: #00e5ff;
  border-color: #00e5ff;
}

.page-item.active {
  background-color: rgb(26, 25, 25);
  color: #00e5ff;
  font-weight: bold;
  cursor: default;
  border-color: #00e5ff;
}

.page-dots {
  color: #888;
  pointer-events: none;
}

.added {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  color: white;
  background-image: linear-gradient(144deg, #4340ff, #424ef3 50%, #3582db);
}



@media(max-width : 480px) {
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .card-content {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 0;
  }

  .card-content .card-image {
    width: 80%;
    transform: none;
    height: 240px;
    margin-bottom: 10px;
    box-shadow: none;
  }

  .card-content .card-image img {
    object-fit: cover;
  }
  
  .card-content .card-text {
    width: 100%;
  }

  .card .card-buy {
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-buy button {
    width: 100%;
  }

  .card-buy .price-wrapper {
    min-width: 50%;
    height: 50px;
  }

  .card-buy .price {
    font-size: 1.25rem;
  }

  .pagination {
    gap: 2dvw;
  }
}


@media (max-width: 360px) {
 .pagination {
  gap: 1dvw
 } 
}