:root {
  --sidebar-size: 250px;
  --hamburger-height: 25px;

  /* Colores base */
  --bg-dark: #1a1c23;
  --bg-light: #2c2f3a;
  --bg-light-2 : #383c49;
  --text-main: #f1f1f1;
  --text-muted: #ccc;

  /* Acentos */
  --accent-primary: #ff6b00;
  --accent-secondary: #00e5ff;

  /* Estados */
  --success: #28a745;
  --danger: #dc3545;

  /* Tipografía */
  --font-main: 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  padding-left: var(--sidebar-size);
  background-color: var(--bg-dark);
  color: var(--text-main);
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

/* SIDEBAR STYLES */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-size);
  height: 100vh;
  background-color: #121419;
  color: var(--text-main);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  padding: 0 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--accent-primary);
}

.sidebar nav {
  height: 100%;
}

.sidebar nav ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar nav ul li {
  width: 100%;
}

.sidebar nav ul li a {
  color: var(--text-main);
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 1rem 1.5rem;
  transition: 0.2s ease;
}

.sidebar nav ul li:last-child {
  margin-top: auto;
}

.sidebar nav ul li a:last-child {
  display: flex;
  gap: 10px;
  align-items: center;

}

.sidebar nav ul li a.active {
  background-color: var(--accent-primary);
  color: #fff;
}

.sidebar nav ul li a:hover {
  background-color: #1f2129;
  color: var(--accent-secondary);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(255, 42, 109, 0.6));
  height: var(--hamburger-height);
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* MAIN BODY */
.main-content {
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;
  gap: 3dvh;
}

.main-content h1 {
  color: var(--accent-primary);
}

.main-content h2 {
  font-size: 3rem;
}

/* INPUT STYLES */
.input-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.input-section .search-bar {
  display: flex;
  width: 70%;
  min-width: 50%;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.search-bar .reset-btn{
  display: none;
}

.search-bar .reset-btn.active {
  display: flex;
}

.order-by {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--bg-light);
  padding: 5px;
  border-radius: 5px;
}

.order-by select {
  padding: 0.5rem 1.5rem;
  background-color: var(--text-main);
  border-radius: 5px;
}

#new-product-btn, .search-bar button, .filter-form button{
  display: flex;
  align-items: center;
  gap: 0.6dvw;
  padding: 0.6rem 2rem;
  font-family: inherit;
  background-color: var(--accent-primary);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

#new-product-btn:hover, .search-bar button:hover, .filter-form button:hover{
  filter: brightness(1.2);
}

.input-section .filter-form {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
}

.filter-form fieldset {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: none;
}

.filter-form fieldset #category, input {
  padding: 5px;
  border-radius: 5px;
}

.filter-form button {
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.plus-symbol {
  font-size: 2rem;
}

/* TABLE STYLES */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-light);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.table td, 
.table th {
  line-height: 1.5;
  vertical-align: top;
  padding: 1rem;
  text-align: left;
}

.table-head {
  background-color: #1f2129;
}

.table-head th {
  color: var(--accent-primary);
  font-size: 1.05rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #444;
}

th {
  padding: 0.5rem;
}

tbody td {
  color: var(--text-muted);
  border-bottom: 1px solid #333;
  font-size: 1.03rem;
}

tbody tr:hover {
  background-color: #2f333f;
}


.status {
  color: var(--danger);
  font-weight: bold;
}

.status-active {
  color: var(--success);
  font-weight: bold;
}

.actions-head {
  width: 15%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.actions button {
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
  width: 100%;
  color: black;
}

.actions button:hover {
  filter: brightness(1.1);
}

.actions button:first-child {
  background-color: #008CBA;
}

.actions button:last-child {
  background-color: var(--success);
}

/* MODAL STYLES */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 750px;
  width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--bg-dark);
  color: var(--text-main);
  padding: 3rem 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow:  0 10px rgba(0, 0, 0, 0.3);
  animation: modalFadeIn 0.3s ease forwards;
}


.modal.fade-out {
  animation: modalFadeOut 0.25s ease forwards;
}

.modal .modal-body {
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.modal-body table {
  max-height: 100%;
  overflow-y: auto;
}

.modal-body p {
  font-size:  1.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.modal-buttons button {
  width: 180px;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
}

.modal-buttons .btn-confirm {
  background-color: var(--danger);
  color: var(--text-main)
}

.modal-buttons .btn-cancel {
  background-color: var(--bg-light);
  color: var(--text-main)
}

.modal-buttons .btn-confirm:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(255, 42, 109, 0.4);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.modal-buttons .btn-cancel:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

/* PAGINATION STYLES */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pagination-previous,
.pagination-pages,
.pagination-next {
  display: flex;
  gap: 0.4rem;
}

.pagination a {
  padding: 8px 14px;
  text-decoration: none;
  border: 1px solid var(--accent-primary);
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-primary);
  background-color: transparent;
  transition: 0.2s ease-in-out;
}


.pagination .pagination-next a,.pagination-previous a {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pagination a span.material-symbols-outlined {
  vertical-align: middle;
}

.pagination a:hover {
  background-color: var(--accent-primary);
  color: white;
}

.pagination a.active {
  background-color: #ea580c;
  color: white;
  border-color: #ea580c;
}

.products-head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
}

/* Details table details*/

.table-body .sale-details-row {
  display: none;
  background-color: var(--bg-light-2);
}

.nested-table-head {
  background-color: var(--bg-light);
}

@media (max-width: 1024px) {
  .table,
  .table-head,
  .table-body,
  .table tr,
  .table th,
  .table td {
    display: block;
    width: 100%;
  }

  .table-head {
    display: none;
  }

  .table {
    box-shadow: none;
  }

  .table-body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    gap: 5px;

  }

  .table tr {
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--bg-light);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .table td {
    text-align: right;
    position: relative;
    padding-left: 50%;
    border-bottom: 1px solid var(--text-muted);
  }
  
  .table td:last-child {
    border: none;
  }

  .table td::before {
    content: attr(data-label); 
    position: absolute;
    left: 15px;
    top: 15px;
    font-weight: bold;
    text-align: left;
    color: var(--text-main);
  }

  .table .actions {
    display: flex;
    justify-content: space-between;
  }

  .input-section {
    flex-direction: column;
  }

  .input-section .search-bar {
    width: 100%;
    flex-wrap: wrap;
  }

  .search-bar button {
    width: auto;
  }

  .order-by {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }

  .order-by select {
    width: 100%;
  }

  .input-section .filter-form {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    gap: 15px;
  }

  .filter-form fieldset {
    width: 100%;
  }
}

@media (max-width: 768px) {

  body {
    padding-left: 50px;
  }

  .main-content {
    margin: 0.5rem 1rem;
  }

  .sidebar {
    width: 50px;
    padding: 1rem 0;
    transition: 0.25s;
    z-index: 100;
  }

  .sidebar h2 {
    display: none;
  }
  

  .sidebar .nav-buttons {
  width: 60%;
  height: calc(100dvh - 70px); /* Deja espacio para el menú hamburguesa */
  position: fixed;
  left: -200%;
  top: 40px;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  }

  .sidebar .nav-buttons.active {
    left: 0;
  }

  .sidebar.active {
    width: 60%;
  }

  .hamburger-menu{
    display: block;
  }

  .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar .nav-buttons li:last-child {
      margin-top: auto;
  }
  
  .modal-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .modal-buttons button {
    width: 200px;
  }

  .products-head {
    flex-direction: column;
  }

  .pagination-pages {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination a {
    font-size: 0.85rem;
    padding: 0.3em 0.5em;
  }

  .pagination a span.material-symbols-outlined {
    font-size: 1.2rem;

}

}

@media (max-width: 478px) {
  
  .nested-table-body td {
    padding-left: 15px;
    padding-top: 45px;
    text-align: left;
  }
}