:root {
  --sidebar-size: 250px;
  --hamburger-height: 25px;

  /* Colores base */
  --bg-dark: #1a1c23;
  --bg-light: #2c2f3a;
  --text-main: #f1f1f1;
  --text-muted: #ccc;

  /* Acentos */
  --accent-primary: #ff6b00;
  --accent-secondary: #00e5ff;

  /* Estados */
  --success: #28a745;
  --danger: #dc3545;

  /* Tipografía */
  --font-main: 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  padding-left: var(--sidebar-size);
  background-color: var(--bg-dark);
  color: var(--text-main);
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-size);
  height: 100vh;
  background-color: #121419;
  color: var(--text-main);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  padding: 0 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--accent-primary);
}

.sidebar nav {
    height: 100%;
}
.sidebar nav ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar nav ul li {
  width: 100%;
}

.sidebar nav ul li a {
  color: var(--text-main);
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 1rem 1.5rem;
  transition: 0.2s ease;
}

.sidebar nav ul li:last-child {
  margin-top: auto;
}

.sidebar nav ul li a:last-child {
  display: flex;
  gap: 10px;
  align-items: center;

}

.sidebar nav ul li a.active {
  background-color: var(--accent-primary);
  color: #fff;
}

.sidebar nav ul li a:hover {
  background-color: #1f2129;
  color: var(--accent-secondary);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(255, 42, 109, 0.6));
  height: var(--hamburger-height);
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
}

.main-content h1 {
  margin-bottom: 2rem;
  color: var(--accent-primary);
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-light);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.products-table td, 
.products-table th {
  line-height: 1.5;
  vertical-align: top;
  padding: 1rem;
  text-align: left;
}

.products-head {
  background-color: #1f2129;
}

.products-head th {
  color: var(--accent-primary);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #444;
}

th {
  padding: 0.5rem;
}

tbody td {
  color: var(--text-muted);
  border-bottom: 1px solid #333;
  font-size: 0.95rem;
}

tbody tr:hover {
  background-color: #2f333f;
}


.status {
  color: var(--danger);
  font-weight: bold;
}

.status-active {
  color: var(--success);
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.actions button {
  font-size: 0.9rem;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
  width: 100%;
}

.actions button:hover {
  filter: brightness(1.1);
}

.actions button:first-child {
  background-color: #008CBA;
  color: #fff;
}

.actions button:last-child {
  background-color: var(--success);
  color: #fff;
}


@media (max-width: 1024px) {
  .products-table,
  .products-head,
  .products-body,
  .products-table tr,
  .products-table th,
  .products-table td {
    display: block;
    width: 100%;
  }

  .products-head {
    display: none;
  }

  .products-table {
    box-shadow: none;
  }

  .products-body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    gap: 5px;
  }

  .products-table tr {
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--bg-light);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .products-table td {
    text-align: right;
    position: relative;
    padding-left: 50%;
    border-bottom: 1px solid var(--text-muted);
  }
  
  .products-table td:last-child {
    border: none;
  }

  .products-table td::before {
    content: attr(data-label); 
    position: absolute;
    left: 15px;
    top: 15px;
    font-weight: bold;
    text-align: left;
    color: var(--text-main);
  }

  .products-table .actions {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {

  body {
    padding-left: 50px;
  }

  .main-content {
    margin: 0.5rem 1rem;
  }

  .sidebar {
    width: 50px;
    padding: 1rem 0;
    z-index: 100;
  }

  .sidebar h2 {
    display: none;
  }
  

  .sidebar .nav-buttons {
  width: 60%;
  height: calc(100vh - 70px); /* Deja espacio para el menú hamburguesa */
  position: fixed;
  left: -200%;
  top: 40px;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  }

  
  .sidebar .nav-buttons.active {
    left: 0;
  }

  .sidebar.active {
    width: 60%;
  }

  .hamburger-menu{
    display: block;
  }

  .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar .nav-buttons li:last-child {
      margin-top: auto;
  }


}